.card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05); /* Легке збільшення при наведенні */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Додаємо тінь */
}

.card:active {
    transform: scale(0.95); /* Легке зменшення при натисканні */
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.language-link {
    text-decoration: none;
    color: blue;
}
.language-link.selected {
    text-decoration: underline;
    color: cornflowerblue;
}


